@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@theme inline {
  --font-sans: "Montserrat", "sans-serif";
  --color-primary: var(--theme-primary);
  --color-secondary: var(--theme-secondary);
  --color-accent: var(--theme-accent);
  --color-neutral: var(--theme-neutral);
  --color-neutral-content: var(--theme-neutral-content);
  --color-base-100: var(--theme-base-100);
}

[data-theme="cyberpunk"] {
  --theme-primary: oklch(74.22% 0.209 6.35);
  --theme-secondary: oklch(83.33% 0.184 204.72);
  --theme-accent: oklch(71.86% 0.2176 310.43);
  --theme-neutral: oklch(23.04% 0.065 269.31);
  --theme-base-100: oklch(94.51% 0.179 104.32);
}

[data-theme="dracula"] {
  --theme-primary: #ff79c6;
  --theme-secondary: #bd93f9;
  --theme-accent: #ffb86c;
  --theme-neutral: #414558;
  --theme-base-100: #282a36;
  --theme-neutral-content: #f8f8f2;
}
