---
import "../styles/global.css";
import ThemeButton from "../components/ThemeButton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Gallery</title>
    <script>
      document.addEventListener("alpine:init", () => {
        // @ts-expect-error
        Alpine.store("theme", {
          val: "light",
          init() {
            this.val = localStorage.getItem("theme") ?? "light";
          },
          change(newTheme: string) {
            this.val = newTheme;
            localStorage.setItem("theme", newTheme);
          },
        });
      });
    </script>
  </head>
  <body
    x-data
    :data-theme="$store.theme.val"
    class="transition-colors duration-200 px-4 bg-base text-base-content"
  >
    <h1 class="font-extrabold text-center text-4xl md:text-5xl py-3">
      Frontend Gallery
    </h1>
    <ul class="flex flex-row gap-5">
      <ThemeButton theme="light" />
      <ThemeButton theme="dark" />
      <ThemeButton theme="cyberpunk" />
      <ThemeButton theme="dracula" />
    </ul>
    <div class="py-3">
      <button
        class="outline-offset-2 outline-primary focus-visible:outline-2 p-3 rounded-lg bg-primary text-primary-content"
        >Primary</button
      >
      <button
        class="outline-offset-2 outline-secondary focus:outline-2 p-3 rounded-lg bg-secondary text-secondary-content"
        >Secondary</button
      >
      <button
        class="outline-offset-2 outline-accent focus:outline-2 p-3 rounded-lg bg-accent text-accent-content"
        >Accent</button
      >
      <button
        class="outline-offset-2 outline-neutral-content focus:outline-2 p-3 rounded-lg"
        >Ghost</button
      >
      <button
        class="outline-offset-2 outline-neutral focus:outline-2 p-3 rounded-lg bg-link"
        >Link</button
      >
    </div>
  </body>
</html>
