---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Gallery</title>
    <script>
      document.addEventListener("alpine:init", () => {
        // @ts-expect-error
        Alpine.store("theme", {
          val: "light",
          init() {
            this.val = localStorage.getItem("theme") ?? "light";
          },
          change(newTheme: string) {
            this.val = newTheme;
            localStorage.setItem("theme", newTheme);
          },
        });
      });
    </script>
  </head>
  <body :data-theme="$store.theme.val" class="px-4">
    <h1 class="font-extrabold text-center text-4xl md:text-5xl py-3">
      Frontend Gallery
    </h1>
    <ul class="flex flex-row gap-5">
      <button
        x-data
        data-theme="light"
        @click="$store.theme.change($el.dataset.theme)"
        :class="$store.theme.val === $el.dataset.theme ? 'ring' :''"
        class="cursor-pointer p-2 rounded-lg">light</button
      >
      <button
        x-data
        data-theme="dark"
        @click="$store.theme.change($el.dataset.theme)"
        :class="$store.theme.val === $el.dataset.theme ? 'ring' :''"
        class="cursor-pointer p-2 rounded-lg">Dark</button
      >
      <button
        x-data
        data-theme="cyberpunk"
        @click="$store.theme.change($el.dataset.theme)"
        :class="$store.theme.val === $el.dataset.theme ? 'ring' :''"
        class="cursor-pointer p-2 rounded-lg">Cyberpunk</button
      >
    </ul>
    <p>Current theme is: <span x-data x-text="$store.theme.val"></span></p>
  </body>
</html>
